@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-image: url(images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    height: 100vh;
}
.cabecalho{
    padding: 40px;
}
.principal{
    display: flex;
    flex-direction: row;
    color: white;
}
.imagem-principal{
    padding-left: 40px;
}
.imagem-principal img{
    width: 650px;
}
.conteudo{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.titulo{
    font-family: 'poppins';
    font-weight: 600;
    font-size: 40px;
}
.texto{
    font-family: 'Open sans';
    font-weight: 400;
    font-size: 16px;
}
.botao-principal{
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 50px;
    color: hsl(257, 40%, 49%);
    font-size: 16px;
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.51);
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.51);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.51);
}
.botao-principal:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
}
.rodape{
    display: flex;
    justify-content: end;
    margin-right: 40px;
}
.rodape img{
    margin-right: 10px;
}
@media screen and (max-width:500px){
    body{
        background-image: url(images/bg-mobile.svg);
        background-repeat: no-repeat;
    }
    .cabecalho img{
        width: 130px;
    }
    .principal{
        flex-direction: column;
    }
    .imagem-principal{
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .imagem-principal img{
        width: 300px;
    }
    .conteudo{
        align-items: center;
        text-align: center;
    }
    .titulo{
        font-size: 24px;
    }
    .texto{
        font-size: 16;
    }
    .rodape{
        justify-content: center;
        margin: 0;
        padding: 30px;
    }   
}
